<!-- wp:template-part {"slug":"header","theme":"twentytwentyfour","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:post-featured-image {"isLink":true,"align":"wide"} /-->

    <!-- wp:post-title {"isLink":true,"className":"wp-block-heading"} /-->

    <!-- wp:post-content /-->

    <!-- wp:paragraph {"align":"center","className":"has-large-font-size","fontSize":"larg"} -->
    <p class="has-text-align-center has-large-font-size has-larg-font-size">
      Post excerpt:
    </p>
    <!-- /wp:paragraph -->
    <!-- wp:shortcode -->
    [remote_field field="post_excerpt"]
    <!-- /wp:shortcode -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentyfour","tagName":"footer","area":"footer"} /-->
